<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.emptyProject</string>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>organizationName</string>
			<key>Name</key>
			<string>Organization Name</string>
			<key>Description</key>
			<string>Your company&apos;s name</string>
			<key>Type</key>
			<string>text</string>
			<key>Default</key>
			<string>___FULLUSERNAME___</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>bundleIdentifierPrefix</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>Company Identifier</string>
			<key>Description</key>
			<string>Your company&apos;s bundle identifier prefix</string>
			<key>EmptyReplacement</key>
			<string>com.yourcompany</string>
			<key>Type</key>
			<string>text</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Maya Version</string>
			<key>Description</key>
			<string>Maya version</string>
			<key>Default</key>
			<string>maya2015</string>
			<key>Identifier</key>
			<string>mayaVersion</string>
			<key>Type</key>
			<string>popup</string>
			<key>Units</key>
			<dict>
				<key>maya2014</key>
				<string>2014</string>
				<key>maya2015</key>
				<string>2015</string>
				<key>maya2016</key>
				<string>2016</string>
			</dict>
		</dict>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Definitions</key>
	<dict>
		<key>plugin.cpp</key>
		<dict>
			<key>Path</key>
			<string>plugin.cpp</string>
		</dict>
	</dict>
	<key>Nodes</key>
	<array>
		<string>plugin.cpp</string>
	</array>
	<key>Name</key>
	<string>Maya Plug-in</string>
	<key>Description</key>
	<string>This template builds an Autodesk Maya plug-in.</string>
	<key>Identifier</key>
	<string>com.autodesk.maya.plugin</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.macosx</string>
	</array>
	<key>Project</key>
	<dict>
		<key>SharedSettings</key>
		<dict>
			<key>ARCHS</key>
			<string>$(ARCHS_STANDARD_64_BIT)</string>
			<key>CLANG_CXX_LIBRARY</key>
			<string>libstdc++</string>
			<key>GCC_PREPROCESSOR_DEFINITIONS</key>
			<string>MAC_PLUGIN OSMac_ REQUIRE_IOSTREAM</string>
			<key>HEADER_SEARCH_PATHS</key>
			<string>. $(MAYA_LOCATION)/devkit/include/</string>
			<key>LIBRARY_SEARCH_PATHS</key>
			<string>$(MAYA_LOCATION)/Maya.app/Contents/MacOS</string>
			<key>OTHER_LDFLAGS</key>
			<string>-Wl,-executable_path,$(MAYA_LOCATION)/Maya.app/Contents/MacOS -Wl,-exported_symbol,__Z16initializePlugin7MObject -Wl,-exported_symbol,__Z18uninitializePlugin7MObject -lOpenMaya -lOpenMayaAnim -lOpenMayaRender -lOpenMayaUI -lFoundation</string>
			<key>LIBRARY_STYLE</key>
			<string>BUNDLE</string>
			<key>MAYA_LOCATION</key>
			<string>/Applications/Autodesk/___VARIABLE_mayaVersion:identifier___</string>
		</dict>
	</dict>
	<key>Targets</key>
	<array>
		<dict>
			<key>Name</key>
			<string>___PACKAGENAME___</string>
			<key>ProductType</key>
			<string>com.apple.product-type.library.dynamic</string>
			<key>BuildPhases</key>
			<array>
				<dict>
					<key>Class</key>
					<string>Headers</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>Sources</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>Frameworks</string>
				</dict>
			</array>
			<key>SharedSettings</key>
			<dict>
				<key>PRODUCT_NAME</key>
				<string>$(TARGET_NAME)</string>
			</dict>
			<key>Configurations</key>
			<dict>
				<key>Debug</key>
				<dict>
					<key>COPY_PHASE_STRIP</key>
					<string>NO</string>
					<key>DYLIB_COMPATIBILITY_VERSION</key>
					<string></string>
					<key>DYLIB_CURRENT_VERSION</key>
					<string></string>
					<key>EXECUTABLE_EXTENSION</key>
					<string>bundle</string>
					<key>GCC_DYNAMIC_NO_PIC</key>
					<string>NO</string>
					<key>GCC_GENERATE_DEBUGGING_SYMBOLS</key>
					<string>YES</string>
					<key>GCC_MODEL_TUNNING</key>
					<string>G5</string>
					<key>GCC_OPTIMIZATION_LEVEL</key>
					<string>0</string>
					<key>GCC_WARN_ABOUT_RETURN_TYPE</key>
					<string>YES</string>
					<key>GCC_WARN_UNUSED_VARIABLE</key>
					<string>YES</string>
					<key>GENERATE_MASTER_OBJECT_FILE</key>
					<string>YES</string>
					<key>INSTALL_PATH</key>
					<string>/usr/local/lib</string>
					<key>MACH_O_TYPE</key>
					<string>mh_bundle</string>
					<key>PREBINDING</key>
					<string>NO</string>
					<key>ZERO_LINK</key>
					<string>NO</string>
				</dict>
				<key>Release</key>
				<dict>
					<key>COPY_PHASE_STRIP</key>
					<string>YES</string>
					<key>DYLIB_COMPATIBILITY_VERSION</key>
					<string></string>
					<key>DYLIB_CURRENT_VERSION</key>
					<string></string>
					<key>EXECUTABLE_EXTENSION</key>
					<string>bundle</string>
					<key>GCC_DYNAMIC_NO_PIC</key>
					<string>NO</string>
					<key>GCC_GENERATE_DEBUGGING_SYMBOLS</key>
					<string>NO</string>
					<key>GCC_MODEL_TUNNING</key>
					<string>G5</string>
					<key>GCC_WARN_ABOUT_RETURN_TYPE</key>
					<string>YES</string>
					<key>GCC_WARN_UNUSED_VARIABLE</key>
					<string>YES</string>
					<key>GENERATE_MASTER_OBJECT_FILE</key>
					<string>YES</string>
					<key>INSTALL_PATH</key>
					<string>/usr/local/lib</string>
					<key>MACH_O_TYPE</key>
					<string>mh_bundle</string>
					<key>PREBINDING</key>
					<string>NO</string>
					<key>ZERO_LINK</key>
					<string>YES</string>
				</dict>
			</dict>
		</dict>
	</array>
</dict>
</plist>
